table tbody tr td.active {
	border: 1px solid #000;
	width: 30px;
	height: 30px;
}

table tbody tr td div {
	width: 30px;
	height: 30px;
	position: relative;
}

table tbody tr td:nth-child(5) {
	border: 2px solid #000;
}

table tbody tr td:nth-child(5) div input {
	background-color: #24B368;
}

table tbody tr td div span {
	position: absolute;
	top: 1px;
	left: 1px;
	font: .6em "Times New Roman", serif;
	z-index: 2;
}

table tbody tr td div input {
	border: none;
	width: 30px;
	height: 29px;
	text-align: center;
	text-transform: uppercase;
}